body{
    font-family: 'Roboto', sans-serif;

}
/* Header */

/* Catálogo */

/*FORMAS*/
.formas{
	background-color: whitesmoke;
}
/* Footer /Contacto*/
.contacto{
	background-image:url(../img/contacto/fondo2.jpg);

}
.color-contacto{
	color:white;
}

.redes{
	padding-top: 51px;
}
.mariobros{
	width: 371px;
	margin-bottom: 20px;
}


/*Redes sociales*/
ul li{

	display: inline-block;
	padding: 12px;

}

ul li a {
	display: inline-block;
	color:#fff;
	text-align: center;
	text-decoration: none;
	cursor:pointer;

}
a:hover{
	color: #FDE700;
}
.apps{
	padding-left: 1px;
}


/*FAQ'S*/
.faq {
    background-color:#FDE700;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    padding:20px;
}

.faq h3:hover{
	color:#fff;
}

.title-faq {
    font-family: 'Bangers', cursive;
    font-size: 65px;
    padding-top: 20px;
}

/*FOOTER*/
.footer{
	background-color:#bdc3c7;
	padding: 20px;
}